{
  "ignorePatterns": [
    "node_modules/",
    "dist/"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "gopeed": true,
    "MessageError": true
  }
}